###### APP ########
DEV_APP_PORT=3050
PRO_APP_PORT=3050

###### DB ########
# MongoDB configurations
DEV_DB_HOST=
DEV_DB_USERNAME=
DEV_DB_PASSWORD=
DEV_DB_NAME=

PRO_DB_HOST=
PRO_DB_USERNAME=
PRO_DB_PASSWORD=
PRO_DB_NAME=

###### MAIL ########
#AWS configurations
DEV_AWS_ACCESS_KEY=
DEV_AWS_SECRET_KEY=

PRO_AWS_ACCESS_KEY=
PRO_AWS_SECRET_KEY=

#Outlook configurations
DEV_OUTLOOK_AUTH_EMAIL=
DEV_OUTLOOK_AUTH_PASS=

PRO_OUTLOOK_AUTH_EMAIL=
PRO_OUTLOOK_AUTH_PASS=

#Zoho configurations
DEV_ZOHO_AUTH_EMAIL=
DEV_ZOHO_AUTH_PASS=

PRO_ZOHO_AUTH_EMAIL=
PRO_ZOHO_AUTH_PASS=
